{%extends 'main4.html'%}
{%load static%}
{%block content%}

  <h1>Our Goals</h1>

    <h2>
      In the current environmental situation that Planet Earth is going through, where, due to global warming, the planet reaches record temperatures every year. 
      Air pollution, where all vehicles and industries actively contribute to the increase in carbon dioxide emissions. The scarcity of natural resources, where Portugal, in the first semester, 
      had already exhausted all the resources for an entire year. Water pollution, which causes serious damage to biodiversity, extremely important for the normal functioning of ecosystems. Faced with these phenomena, 
      and as young people who are categorically concerned about the Planet and its survival for future generations, we see in this course an opportunity to try to mitigate one of the environmental problems we currently face: 
      the abandonment of trash.
        <br><br>By combining these concerns with the development of software in Python, 
        we quickly realized that we could develop an innovative website that encourages communities to collect abandoned trash.
        <br><br>Our goal is to make the community, in general, even more aware of environmental issues and ensure a more active population.</h2>

    <div style="text-align: center;">
        <img src="{% static 'images/earth-day.png' %}" alt="Let's recycle">
      </div>

{%endblock%}
